
/* height: 1550px: part1 - 385
width: 640; */
body {
    height: 1557px;
    width: 640px;
    background-color: #0e0e0e;
    margin: 0 auto;
}

h1.hidden {
    display: none;
}

.heading {
    height: 62px;
    width: 100%;
    position: relative;
    text-align: center;

}

.navigation {
    height: 62px;
    width: 455px;
    background-color: #f5c506;
    /* display: inline-block; */
    float: right;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;

}

.nav-list li a {
    font-size: 19px;
    letter-spacing: 0px;
    color: #9b7d08;
    font-family: "SegoeWP", sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 15px 15px 0 0;
    /* border-right: 1px solid #9b7d08; */
}

.logo1 {
    height: 62px;
    width: 185px;
    /* display: inline-block; */
    float: left;
    background-image: linear-gradient(0deg,#000000 0%, #ffffff 100%);
    background: url(./assets/images/Layer\ 26.png);

}

.logo1-text {
    font-size: 19px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans", "PTSans", sans-serif;
    font-style: italic;
    text-align: center;
    /* box-shadow: 1px 1.732px 0px rgba(0,0,0,0.42); */
    text-transform: uppercase;
    text-decoration: none;
}

.logo1-img {
    float: left;
}

.central {
    height: 1453px;
    width: 100%;
    background-color: #ffffff;
}

.video1 {
    /* height: 327px; */
    width: 100%;
    opacity: 0.7;
    background: url(./assets/images/Layer\ 20.png);
}

.row-icon {
    height: 176px;
    background: url(./assets/images/Layer\ 27.png);
    text-align: center;
}

.column-icon {
    float: left;
    width: 33.33%;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "SegoeWP-Light", sans-serif;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon1 {
    width: 89px;
    height: 69px;
    shadow: 2.5px 4.33px 0px rgba(185,148,1,0.69);
    text-align: center;
    align-items: center;
    margin: 38px 0 0 45px;
    
    /* margin: 0 38px 25px 27px; */
}

.icon2 {
    width: 67px;
    height: 69px;
    shadow: 2.5px 4.33px 0px rgba(185,148,1,0.69);
    text-align: center;
    align-items: center;
    margin: 38px 90px 0 90px;
}

.icon3 {
    width: 68px;
    height: 69px;
    border-radius: 18px;
    /* box-shadow: 2.5px 4.33px 0px rgba(185,148,1,0.69); */
    margin: 38px 72px 0 72px;
}

.row-video {
    height: 250px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.column-video {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 50%;
    height: 250px;
    width: 320px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
}

.video-text {
    height: 189px;
    width: 235px;
    font-size: 29px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #ffffff;
    font-family: "SegoeWP-Light";
    font-weight: 300;
    background-color: #ec9e03;
    display: inline-block;
    text-align: left;
    padding: 22px 38px 21px 26px;
    margin: 0 9px;
    text-align: left;
}

.video2 {
    /* height: 232px; */
    /* display: block; */
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
}

.twitter-row {
    height: 234px;
    background-color: #f5c507;
    
}

.twitter-col {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.twitter-message-1 {
    position: relative;
    text-align: left;
    margin: 24px 32px 10px 7px;
}

.twitter-text-1 {
    position: absolute;
    bottom: 0;
    font-size: 13px;
    letter-spacing: 0px;
    color: #8f8e8e;
    font-family: "Arial";
    margin: 9px 40px 5px 27px;
}

.twitter-message-2 {
    position: relative;
    text-align: left;
    margin: 0 32px 10px 7px;
}

.twitter-text-2 {
    position: absolute;
    bottom: 0;
    font-size: 13px;
    letter-spacing: 0px;
    color: #8f8e8e;
    font-family: "Arial";
    margin: 9px 40px 5px 27px;
}

.twitter-message-3 {
    position: relative;
    text-align: left;
    margin: 0 32px 10px 7px;
}

.twitter-text-3 {
    position: absolute;
    bottom: 0;
    font-size: 13px;
    letter-spacing: 0px;
    color: #8f8e8e;
    font-family: "Arial";
    margin: 9px 40px 5px 27px;
}

.twitter-image {
    margin: 68px 64px 0 85px;
}

.twitter-form {
    width: 279px;
    height: 29px;
    margin: 0 33px 12px 13px;
}

.twitter-form-text {
    width: 201px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.15);
}

.twitter-form-button {
    width: 69px;
    height: 100%;
    background: #da9916;
    background-image: linear-gradient(0deg, ##da9916 0%, ##da9916 100%);
    font-size: 15px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Arial";
    border-radius: 0 10px 10px 0;
    border: 1px solid rgba(0,0,0,0.15);
}

.section2 {
    height: 466px;
    width: 100%;
    background-color: #474747;
    display: flex;
    position: relative;
}

.section2-text {
    text-transform: uppercase;
    width: 590px;
    height: 30px;
    font-size: 39px;
    letter-spacing: 0px;
    color: #f5c506;
    font-family: "OpenSans-Regular";
    font-weight: 400;
    margin: 43px 29px 0 21px;
    text-align: center;
    position: absolute;
}

.section2-img-1 {
    margin: 156px 0 0 36px;
    display: inline;
}

.section2-img-2 {
    margin: 190px 0 0 24px;
}

.section2-img-3 {
    margin: 310px 0 0 24px;
}

.section2-circle {
    height: 116px;
    width: 116px;
    background-color: #f5c506;
    border-radius: 58px;
    position: relative;
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    margin: 115px 0 0 -565px;
}

.section2-circle-text {
    font-size: 19px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "PTSans-Narrow-Bold";
    font-weight: 700;
    text-align: center;
    margin: 50px 4px 49px 7px;
}

.section2-circle::after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    content: "";
    }

footer {
    height: 42px;
    width: 100%;
    background: #4c4c4c;
    font-size: 17px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans";
    font-style: italic;
    text-align: center;
    /* box-shadow: 1px 1.732px 0px rgba(0,0,0,0.42); */
    box-shadow: -0.105px -2.998px 5px rgba(0,0,0,0.75);
}

/* Clear floats after the columns */
.row-icon:after {
    content: "";
    display: table;
    clear: both;
}

.row-video:after {
    content: "";
    display: table;
    clear: both;
}

.twitter-row:after {
    content: "";
    display: table;
    clear: both;
}

@font-face {
    font-family: "SegoeWP";
    src: url(./assets/fonts/SegoeWP.ttf);
}

@font-face {
    font-family: "SegoeWP-Light";
    src: url(./assets/fonts/segoe-wp-light.ttf);
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url(./assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "PTSans";
    src: url(./assets/fonts/PTC55F.ttf);
}

@font-face {
    font-family: "OpenSans-Narrow";
    src: url(./assets/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url(./assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "PTSans-Narrow-Bold";
    src: url(./assets/fonts/PTN77F.ttf);
}

@font-face {
    font-family: "Asap Regular";
    src: url(./assets/fonts/Asap-Regular.otf);
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column-icon {
      width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .column-video {
      width: 100%;
    }
}

